.main{
    height: 100%;
    display: grid;
    place-content: center;
}

.prepare{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.prepare input{
    padding: 10px;
    width: clamp(12.5rem, 34.091vw + 4.83rem, 31.25rem);
    outline: none;
}

.main button{
    width:clamp(5rem, 4.545vw + 3.977rem, 7.5rem);
    padding:10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #DCFD00;
}

.main .download{
    text-align: center;
}


button:disabled{
    background-color: #eaeece;
    cursor: no-drop;
}

.download a{
    background-color: #EB5757;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-decoration: none;
}